Repository FabienDehopre/my-netatmo-dashboard-firebase: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c src/tslint.json -t stylish -p src/tsconfig.spec.json --fix, prettier --write, tslint -c tslint.json -t stylish -p e2e/tsconfig.e2e.json --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/!(test|*.spec).ts": ["tslint -c src/tslint.json -t stylish -p src/tsconfig.app.json --fix", "prettier --write", "git add"],
  "src/**/(test|*.spec).ts": ["tslint -c src/tslint.json -t stylish -p src/tsconfig.spec.json --fix", "prettier --write", "git add"],
  "e2e/src/**/*.ts": ["tslint -c tslint.json -t stylish -p e2e/tsconfig.e2e.json --fix", "prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{js,json,html,md}": ["prettier --write", "git add"],
  ".*": ["prettier --write", "git add"]
}

build: make sure the web app can be deployed
  firebase.json
  package-lock.json
  package.json
Due: prettier --write

feat: display battery status as icon with color
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/indoor-module/indoor-module.component.html
  src/app/components/indoor-module/indoor-module.component.scss
  src/app/components/main-module/main-module.component.html
  src/app/components/main-module/main-module.component.scss
  src/app/components/outdoor-module/outdoor-module.component.html
  src/app/components/outdoor-module/outdoor-module.component.scss
  src/app/components/rain-gauge-module/rain-gauge-module.component.html
  src/app/components/rain-gauge-module/rain-gauge-module.component.scss
  src/app/components/wind-gauge-module/wind-gauge-module.component.html
  src/app/components/wind-gauge-module/wind-gauge-module.component.scss
  src/app/material.module.ts
  src/app/models/battery.ts
  src/app/models/device.ts
  src/app/pipes/battery.pipe.ts
  src/styles.scss
Due: prettier --write, stylelint --fix

Revert "build: Update package-lock.json (#15)" (#17)
  package-lock.json
Due: prettier --write

build: update angular dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: use Google YOLO and disable Facebook, Twitter and Github
  src/app/app.module.ts
Due: none

build: confgure SSL for local serving using mkcert
  angular.json
Due: prettier --write

refactor: small adaptation of the layout
  src/app/components/layout/layout.component.html
  src/app/components/layout/layout.component.scss
Due: prettier --write, stylelint --fix

feat: add support for gesture using hammer.js
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write

feat: add material design icons pack
  .gitignore
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --write

refactor: battery level is displayed using material icons
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/battery/battery.component.html
  src/app/components/battery/battery.component.scss
  src/app/components/battery/battery.component.ts
  src/app/components/indoor-module/indoor-module.component.html
  src/app/components/outdoor-module/outdoor-module.component.html
  src/app/components/rain-gauge-module/rain-gauge-module.component.html
  src/app/components/wind-gauge-module/wind-gauge-module.component.html
  src/app/pipes/battery.pipe.ts
  src/styles.scss
Due: prettier --write, stylelint --fix

ci: refactor the circleci config to deploy master branch
  .circleci/config.yml
  firebase.json
  package.json
Due: prettier --write

style: fix the name of the variable in battery component sass
  src/app/components/battery/battery.component.scss
Due: prettier --write, stylelint --fix

ci: fix the circleci config file
  .circleci/config.yml
Due: none

ci: fix the circleci config file again
  .circleci/config.yml
Due: none

feat: add icons for wifi/radio signal strength (#18)
  .commitlintrc
  src/app/app.module.ts
  src/app/components/battery/battery.component.ts
  src/app/components/indoor-module/indoor-module.component.html
  src/app/components/main-module/main-module.component.html
  src/app/components/outdoor-module/outdoor-module.component.html
  src/app/components/radio/radio.component.html
  src/app/components/radio/radio.component.scss
  src/app/components/radio/radio.component.ts
  src/app/components/rain-gauge-module/rain-gauge-module.component.html
  src/app/components/wifi/wifi.component.html
  src/app/components/wifi/wifi.component.scss
  src/app/components/wifi/wifi.component.ts
  src/app/components/wind-gauge-module/wind-gauge-module.component.html
Due: prettier --write, stylelint --fix

build: update dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: fix a typo in circleci config
  .circleci/config.yml
Due: none

build: use the assets in angular.json to copy mdi.svg
  angular.json
  package.json
Due: prettier --write

refactor: change the login page to use the ngx-auth-firebaseui package
  angular.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.scss
  src/app/pages/login/login.component.ts
Due: prettier --write, stylelint --fix

feat: align module name and wifi status in card title
  .stylelintrc
  src/app/components/main-module/main-module.component.html
  src/app/components/main-module/main-module.component.scss
Due: prettier --write, stylelint --fix

feat: add more style to main module
  src/app/app.module.ts
  src/app/components/main-module/main-module.component.html
  src/app/components/main-module/main-module.component.scss
  src/app/material.module.ts
  src/app/models/dashboard-data.ts
  src/app/models/device.ts
  src/app/pipes/timestamp.pipe.ts
  src/styles.scss
Due: prettier --write, stylelint --fix
